@charset "UTF-8";

/* ラベル＋バッジのデザイン */
.label-box {
  display: inline-flex;
  align-items: center;
  padding: 0.3rem 0.6rem;
  font-size: 0.95rem;
}

/*PC画面（デフォルト）*/
/* 行全体の並び調整 */
.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

/* ラベル側の調整 */
.form-label-col {
	width: 20%;
	min-width: 100px;
}

/* 入力欄側 */
.form-input-col {
  width: 80%;
}


/* スマホ向け（画面が768px以下） */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-label-col,
  .form-input-col {
    width: 100%;
  }

  .form-label-col {
    margin-bottom: 0.3rem;
  }
}

/* チェックボックス群の横並び */
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* チェックボックス＋ラベルの見た目整え */
.checkbox-group .form-check-label {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: 400;
}

